.cover {
    border-bottom: 1px solid #c0c0c0;
    margin: 3px;
}

.name {
    font-weight: bold;
    width: 8em;
}

.mes {
    margin-left: 30px;
}

.post-id {
    font-weight: bold;
    margin-right: 5px;
}
.reply {
    margin-left: 20px;
    font-size: 0.9em;
    color: #555;
}
.like-btn, .reply-btn {
    margin-left: 10px;
    cursor: pointer;
}
